@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 65, 33, 191;
  --background-mid-rgb: 87, 41, 190;
  --background-end-rgb: 180, 38, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-mid-rgb)),
      rgb(var(--background-end-rgb))
    );
}

@media screen and (max-width: 640px) {
  body {
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-mid-rgb)),
      rgb(var(--background-end-rgb))
    );
  }
}